*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Brygada 1918', serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #555555;
    min-height: 100vh;
    background-image: url(../assets/images/spacebackground2.jpg);
    background-size: cover;
    background-position: center;
    
}


/* Intro Segment */

.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.intro-message {
    padding: 0px 20px 20px 10px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
    font-family: 'Pathway Gothic One', sans-serif;
}

.intro-message > p {
    margin: 0;
}

.intro-btn-container{
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#intro-btn {
    color: #fafafa;
    background-color: #ad2020;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

.intro-text > span {
    opacity: 0;
    transition: all 5s ease;
}

.intro-text > span.fade {
    opacity: 1;
}

@media (min-width: 900px) {
    .intro-page{
        max-width: 50%;
    }
    .intro-message {
        font-size: 70px;
    }

    .intro-btn-container {
        margin: 40px;
    }

    #intro-btn {
        font-size: 30px;
        padding: 20px;
    }
}

/* Title Segment */

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.title-container {
    padding: 0px 20px 20px 10px;
    text-align: center;
}

.title-text {
    margin: 0;
    font-size: 60px;
    font-family: 'Pathway Gothic One', sans-serif;
    color:#555555;
    text-transform: uppercase;
    animation: glow 1s ease-in-out infinite alternate;
    }
@keyframes glow {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cfe600, 0 0 40px #cfe600, 0 0 50px #d7e600, 0 0 60px #d7e600, 0 0 70px #e6e200;}
    to {text-shadow: 0 0 20px #fff, 0 0 30px #edff4d, 0 0 40px #f3ff4d, 0 0 50px #fcff4d, 0 0 60px #fcff4d, 0 0 70px #fffc4d, 0 0 80px #edff4d;}
}

.title-btn-container {
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#title-btn {
    color: #fafafa;
    background-color: #ad2020;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

@media (min-width: 900px) {
    .title-page{
        max-width: 50%;
    }
    .title-text {
        font-size: 100px;
    }

    .title-btn-container {
        margin: 40px;
    }

    #title-btn {
        font-size: 30px;
        padding: 20px;
    }
}

/* Header */

.header {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color:#b81e03;
    border-radius: 5px;
    box-shadow: 1px 1px #000000;
}

.nav-element {
    color: #cfd7db;
    text-transform: uppercase;
    font-size: 15px;
    text-shadow: 2px 2px #000000;  
    cursor: pointer;
    text-decoration: none;
}

.nav-element:hover {
    background-color: black;
    border-radius: 5px;
}

@media (min-width: 900px){
    .nav-element {
        font-size: 30px;
    }
}

/* Talking Head */

.talking-head-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    border: 5px solid;
    border-radius: 5px;
    border-top-color: #a36513;
    border-bottom-color: #a36513;
    border-left-color: #7c2c26;
    border-right-color: #7c2c26;
    box-shadow: 2px 2px #000000;
}

.talking-head-image {
    background-image: url(../assets/images/talkingskullsmall.jpg);
    background-size: cover;
    height: 150px;
    width: 150px;
}

.talking-head-text {
    text-align: center;
    font-size: 11px;
    width: 70%;
}

.talking-head-text > p {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Recursive', sans-serif;
}

#talking-head-btn {
    color: #fafafa;
    background-color: #b81e03;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 1px 1px #000000;
    padding: 5px;
    margin: auto;
    cursor: pointer;
}

#talking-head-btn:hover {
    transition-duration: 1s;
    color: #000000;
    border: 2px solid #fafafa;
    cursor: pointer;
    box-shadow: none;
}

@media (min-width:700px) {
    .talking-head-text {
        font-size: 20px;
    }
}

@media (min-width: 900px) {
    .talking-head-box {
        width: 75%;
        position: fixed;
        left: 50%;
        margin-left: -37.5%;
    }

    .talking-head-image {
        background-position: center;
        width: 225px;
        height: 225px;
    }

    .talking-head-text {
        margin: auto;
        font-size: 25px;
    }

    #talking-head-btn {
        font-size: 25px;
    }
}

/* Faction Selection */

.faction-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 50px auto;
}


.faction-image {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.faction-title {
    color: #fafafa;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.faction-info {
    margin: 0px;
    color: #fafafa;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000000;
    padding: 0px 15px 0px 15px;
    filter: none;
}


#spacemarines-image {
    background-image: url(../assets/images/spacemarines5.jpg);
}


#admech-image {
    background-image: url(../assets/images/admech2.jpg);
}

#guard-image {
    background-image: url(../assets/images/guard2.jpg);
} 

@media (min-width:700px) {
    .faction-selection {
        width: 90vw;
        height: auto;
        margin: auto;
    }
    
    .faction-image {
        width: 90vw;
        background-position: 0% 25%;
    }
}

@media (min-width:1200px) {
    .faction-selection {
        flex-direction: row;
        width: 80vw;
    }

    .faction-image {
        background-size: cover;
        width: 700px;
        height: 500px;
    }
}

/* Enemy Selection */

.enemy-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 50px auto;
}


.enemy-image {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.enemy-title {
    color: #fafafa;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.enemy-info {
    margin: 0px;
    color: #fafafa;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000000;
    padding: 0px 15px 0px 15px;
    filter: none;
}


#orks-image {
    background-image: url(../assets/images/orks2.jpg);
}

#chaos-image {
    background-image: url(../assets/images/chaos3.jpg);
}

#tyranids-image {
    background-image: url(../assets/images/tyranids2.jpg);
} 

@media (min-width:700px) {
    .enemy-selection {
        width: 90vw;
        height: auto;
        margin: auto;
    }
    
    .enemy-image {
        width: 90vw;
        background-position: 0% 25%;
    }
}

@media (min-width:1200px) {
    .enemy-selection {
        flex-direction: row;
        width: 80vw;
    }

    .enemy-image {
        background-size: cover;
        width: 700px;
        height: 500px;
    }
}

/* Game Area */

.game-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px 10px 0px 10px;
}

.question-box {
    margin: 50px 0px 50px 0px;
    padding: 0px 10% 0px 10%;
    color: #fafafa;
    text-align: center;
    font-size: 25px;
    background-color: #555555;
    border: 5px solid;
    border-radius: 5px;
    border-top-color: #a36513;
    border-bottom-color: #a36513;
    border-left-color: #7c2c26;
    border-right-color: #7c2c26;
    box-shadow: 2px 2px #000000;
}

.question-image {
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/orks4.jpg);
    background-position: center;
    background-size: cover;
}

.answer{
    margin: 20px 0px 20px 0px;
    background-color: #b81e03;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    min-width: 340px;
    min-height: 100px;
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    border: 5px solid #000000;
    height: 10%;
    cursor: pointer;
}

.answer:hover{
    transition-duration: 1s;
    color: #000000;
    border: 5px solid #fafafa;
    cursor: pointer;
    box-shadow: none;
}

@media (min-width: 700px){
    .question-box{
        font-size: 40px;
        max-width: 80vw;
    }

    .question-image{
        width: 900px;
        height: 450px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .answer{
        font-size: 25px;
        margin-left: 15%;
        margin-right: 15%;
        padding: 0px 20px 0px 20px;
    }
}

@media (min-width: 1200px){
    .question-box{
        font-size: 50px;
        max-width: 80vw;
    }

    .question-image{
        width: 1200px;
        height: 550px;
    }

    .answer{
        font-size: 28px;
        width: 900px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 20px 0px 20px;
    }
}

/* Victory Page */

.victory-page{
    margin: auto;
    width: 100vw;
    height: 400px;
    text-align: center;
    padding: 20px;
}

.victory-text{
    font-size: 40px;
    text-transform: uppercase;
    color:#fcff4d;
}

.victory-button{
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#victory-btn{
    color: #fafafa;
    background-color: #b81e03;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

/* Defeat Page */

.defeat-page{
    margin: auto;
    width: 100vw;
    height: 400px;
    text-align: center;
    padding: 20px;
}

.defeat-text{
    font-size: 40px;
    text-transform: uppercase;
    color:#ad2020;
}

.defeat-button{
    color: #fafafa;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
}

#defeat-btn{
    color: #fafafa;
    background-color: #b81e03;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
    cursor: pointer;
}

/*Contact Page*/

 .email-container{
     color: #fafafa;
     background-color: #85858550;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 20px 15px 30px 15px;
     margin: 20px 0px 20px 0px;
 }

 .title-container{
     color: #fafafa;
     font-size: 16px;
     text-transform: uppercase;
     text-align: center;
     padding: 0px;
     font-family: 'Pathway Gothic One', sans-serif;
 }

 .para-container{
     color: #fafafa;
     font-size: 16px;
     text-align: center;
     margin: 10px 0px 10px 0px;
 }

 .form-container{
     color: #fafafa;
     display: flex;
     flex-direction: column;
     margin: 20px 0px 20px 0px;

 }

 #name-input{
    background-color: #000000;
    font-size: 16px;
    color: #fafafa;
    margin: 10px 0px 10px 0px;
    font-family: 'Recursive', sans-serif;
 }

 #name-input:focus{
     transition-duration: 1s;
     border: 2px solid #ad2020;
 }

 #user-input{
    background-color: #000000;
    text-align: left;
    font-size: 16px;
    color: #fafafa;
    margin: 10px 0px 10px 0px;
    font-family: 'Recursive', sans-serif;
    width: 70vw;
    min-height: 150px;
    resize: none;
    
 }

 #user-input:focus{
    transition-duration: 1s;
    border: 2px solid #ad2020;
    
}

 #suggestion-submit{
    background-color: #000000;
    color: #fafafa;
    margin: 10px auto 10px auto;
    background-color: #b81e03;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 1px 1px #000000;
    padding: 5px;
    margin: auto;
    cursor: pointer;
 }

 #suggestion-submit:hover{
    transition-duration: 1s;
    color: #000000;
    border: 2px solid #fafafa;
    cursor: pointer;
    box-shadow: none;
 }

 .email-validation-container{
     color: #fafafa;
     font-size: 16px;
     margin: 20px 0px 20px 0px;

 }

 #email-input{
    background-color: #000000;
    font-size: 16px;
    color: #fafafa;
    margin: 10px 50px 10px 50px;
    font-family: 'Recursive', sans-serif;
 }

 #email-input:focus{
    transition-duration: 1s;
    border: 2px solid #ad2020;
}


 #email-submit{
    background-color: #000000;
    color: #fafafa;
    margin: 10px auto 10px auto;
    background-color: #b81e03;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 1px 1px #000000;
    padding: 5px;
    margin: auto;
    cursor: pointer;
 }

 #email-submit:hover{
    transition-duration: 1s;
    color: #000000;
    border: 2px solid #fafafa;
    cursor: pointer;
    box-shadow: none;
 }

 @media (min-width:700px){
    .email-container{
        margin-top: auto;
        margin-bottom: auto;
        padding: 0px 15px 0px 15px;
    }

   .title-container{
        font-size: 25px;
    }

    .para-container{
        font-size: 22px;
    }

    .email-validation-container{
        font-size: 22px;
    }

    #suggestion-submit{
        font-size: 20px;
    }

    #email-submit{
        font-size: 20px;
    }
 
 }
     
 @media (min-width:1200px){
    .email-container{
        width: 80vw;
        margin: auto;
        padding: 20px 20px 30px 20px;
    }

    .title-container{
        margin: auto;
        width: 80%;
    }

    .para-container{
        margin: auto;
        font-size: 25px;
        width: 80%;
    }

    .form-container{
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .email-validation-container{
        font-size: 25px;
    }

    #name-input{
        width: 30%;
    }

    #user-input{
        width: 50%;
    }

 }
     
/*Forces Page*/

.forces-container{
    width: 100vw;
    margin: auto;
    margin-bottom: 50px;
}

#forces-title{
    font-size: 40px;
    text-align: center;
    color: #fafafa;
}

.faction-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
}

.enemy-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  
}

.forces-select-image{
    color: #fafafa;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 100%;
    margin: auto;
}

.forces-label{
    color: #fafafa;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.forces-select-image:hover{
    transition: 1s;
    background-color: unset;
    box-shadow: inset 0 0 0 3px #fafafa;
}

#faction-space-marines{
    background-image: url(../assets/images/spacemarines1.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
}

#faction-ad-mech{
    background-image: url(../assets/images/admech5.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
}

#faction-guard{
    background-image: url(../assets/images/guard1.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;

}

#faction-orks{
   background-image: url(../assets/images/orks1.webp);
   background-position: center;
   background-size: cover;
   justify-content: center;

}

#faction-chaos{
    background-image: url(../assets/images/chaos5.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
}

#faction-tyranids{
    background-image: url(../assets/images/tyranids3.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
}

@media (min-width: 1200px){
    .forces-container{
        width: 80vw;
        flex-direction: row;
        margin-top: 50px;
    }

    .factions-container{
        display: flex;
    }

    .eneimes-container{
        display: flex;
    }

    .forces-select-image{
        height: 400px
    }
}

.forces-info-container{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

@media (min-width: 700px){
    .forces-info-container{
        font-size: 22px;
    }
}

.info-title{
    color: #fafafa;
    text-transform: uppercase;
    font-family: 'Pathway Gothic One', sans-serif;
    text-align: center;
}

.info-summary{
    color: #fafafa;
    background-color: #9494944b;
    text-align: center;
    padding: 15px
}

.info-unit-types{
    color: #fafafa;
    background-color: #707070a1;
    padding: 15px;
}

.info-unit-types>h2{
    color: #b81e03;
    text-shadow: 1px 1px #000000;
    text-decoration: underline;
    text-transform: uppercase;
}

.info-unit-types>p{
    text-shadow: 1px 1px #000000;;
}



/* Extra Utilties */

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}
