*, *::before, *::after{
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background-color: #555555;
    min-height: 100vh;
}

/* Intro Segment */

.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.intro-message {
    padding: 0px 20px 20px 10px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
}

.intro-message > p {
    margin: 0;
}

.intro-btn-container{
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#intro-btn {
    color: #fafafa;
    background-color: #ad2020;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
}

.intro-text > span {
    opacity: 0;
    transition: all 5s ease;
}

.intro-text > span.fade {
    opacity: 1;
}

@media (min-width: 900px) {
    .intro-page{
        max-width: 50%;
    }
    .intro-message {
        font-size: 70px;
    }

    .intro-btn-container {
        margin: 40px;
    }

    #intro-btn {
        font-size: 30px;
        padding: 20px;
    }
}

/* Title Segment */


.hide {
    visibility: hidden;
}

.remove {
    display: none;
}