*, *::before, *::after{
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #555555;
    min-height: 100vh;
}


/* Intro Segment */

.intro-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.intro-message {
    padding: 0px 20px 20px 10px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 2px 2px #000000;
}

.intro-message > p {
    margin: 0;
}

.intro-btn-container{
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#intro-btn {
    color: #fafafa;
    background-color: #ad2020;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
}

.intro-text > span {
    opacity: 0;
    transition: all 5s ease;
}

.intro-text > span.fade {
    opacity: 1;
}

@media (min-width: 900px) {
    .intro-page{
        max-width: 50%;
    }
    .intro-message {
        font-size: 70px;
    }

    .intro-btn-container {
        margin: 40px;
    }

    #intro-btn {
        font-size: 30px;
        padding: 20px;
    }
}

/* Title Segment */

.title-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.title-container {
    padding: 0px 20px 20px 10px;
    text-align: center;
}

.title-text {
    margin: 0;
    font-size: 40px;
    color:#000000;
    text-transform: uppercase;
    animation: glow 1s ease-in-out infinite alternate;
    }
@keyframes glow {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cfe600, 0 0 40px #cfe600, 0 0 50px #d7e600, 0 0 60px #d7e600, 0 0 70px #e6e200;}
    to {text-shadow: 0 0 20px #fff, 0 0 30px #edff4d, 0 0 40px #f3ff4d, 0 0 50px #fcff4d, 0 0 60px #fcff4d, 0 0 70px #fffc4d, 0 0 80px #edff4d;}
}

.title-btn-container {
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#title-btn {
    color: #fafafa;
    background-color: #ad2020;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    text-shadow: 1px 1px #000000;
    padding: 10px;
    margin: auto;
}

@media (min-width: 900px) {
    .title-page{
        max-width: 50%;
    }
    .title-text {
        font-size: 70px;
    }

    .title-btn-container {
        margin: 40px;
    }

    #title-btn {
        font-size: 30px;
        padding: 20px;
    }
}

/* Header */

.header {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color:#54758a;
    border-radius: 5px;
    box-shadow: 1px 1px #000000;
}

.nav-element {
    color: #cfd7db;
    text-transform: uppercase;
    font-size: 15px;
    text-shadow: 2px 2px #000000;  
    cursor: pointer;
}

.nav-element:hover {
    color: black;
    transition: .4 ease-in-out;
}

@media (min-width: 900px){
    .nav-element {
        font-size: 25px;
    }
}

/* Talking Head */

.talking-head-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #000000;
    color: #fff;
    border: 5px solid;
    border-radius: 5px;
    border-top-color: #a36513;
    border-bottom-color: #a36513;
    border-left-color: #7c2c26;
    border-right-color: #7c2c26;
    box-shadow: 2px 2px #000000;
}

.talking-head-image {
    background-image: url(../assets/images/talkingskullsmall.jpg);
    background-size: cover;
    height: 150px;
    width: 150px;
}

.talking-head-text {
    text-align: center;
    width: 70%;
}

.talking-head-text > p {
    margin: 0;
    margin-bottom: 10px;
}

#talking-head-btn {
    color: #fafafa;
    background-color: #ad2020;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    text-shadow: 1px 1px #000000;
    padding: 5px;
    margin: auto;
}

@media (min-width: 900px) {
    .talking-head-box {
        width: 75%;
        position: fixed;
        left: 50%;
        margin-left: -37.5%;
    }

    .talking-head-image {
        background-position: center;
        width: 225px;
        height: 225px;
    }

    .talking-head-text {
        margin: auto;
        font-size: 25px;
    }
}

/* Faction Selection */

.faction-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 50px auto;
}


.faction-image {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.faction-title {
    color: #fafafa;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.faction-info {
    margin: 0px;
    color: #fafafa;
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px #000000;
    padding: 0px 15px 0px 15px;
    filter: none;
}


#spacemarine-image {
    background-image: url(../assets/images/spacemarines5.jpg);
}


#admech-image {
    background-image: url(../assets/images/admech2.jpg);
}

#guard-image {
    background-image: url(../assets/images/guard2.jpg);
} 

@media (min-width:700px) {
    .faction-selection {
        width: 90vw;
        height: auto;
        margin: auto;
    }
    
    .faction-image {
        width: 90vw;
        background-position: 0% 25%;
    }
}

@media (min-width:1200px) {
    .faction-selection {
        flex-direction: row;
        width: 80vw;
    }

    .faction-image {
        background-size: cover;
        width: 700px;
        height: 500px;
    }
}

/* Enemy Selection */

.enemy-selection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 50px auto;
}


.enemy-image {
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.enemy-title {
    color: #fafafa;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.enemy-info {
    margin: 0px;
    padding: 0px;
}


#orks-image {
    background-image: url(../assets/images/orks2.jpg);
}

#chaos-image {
    background-image: url(../assets/images/chaos3.jpg);
}

#tyranids-image {
    background-image: url(../assets/images/tyranids2.jpg);
} 

@media (min-width:700px) {
    .enemy-selection {
        width: 90vw;
        height: auto;
        margin: auto;
    }
    
    .enemy-image {
        width: 90vw;
        background-position: 0% 25%;
    }
}

@media (min-width:1200px) {
    .enemy-selection {
        flex-direction: row;
        width: 80vw;
    }

    .enemy-image {
        background-size: cover;
        width: 700px;
        height: 500px;
    }
}
/* Extra Utilties */

.hide {
    visibility: hidden;
}

.remove {
    display: none;
}
